#mainBox { 
    background-color: black;
    margin: 20vh auto;
    height: 50vh;
    width: 30vh;
    border-radius: 5% 5%;
    padding: 3vh;
}

#display{
    color: white;
    font-size: 8vh;
    text-align: end;
    padding-top: 30%;
    font-family:Tahoma,Verdana, sans-serif;
}